h2, mat-dialog-actions {
    width: 100%;
    display: grid;
    justify-content: center;
}

h2 {
    grid-template-columns: auto 1fr auto;
    justify-items: center;
}

#counts {
    display: grid;
    justify-content: center;
    font-size: 2em;
    line-height: 1;
}

#counts.both {
    grid-template-columns: 1fr 1fr;
}

mat-dialog-content {
    text-align: center;
}

#correct, #incorrect {
    padding: .5em .25em;
    min-width: 3em;
}

#correct {
    border: 1px solid green;
    color: green;
    background-color: #aef0ae;
    border-radius: 5px;
}

#correct.with-incorrect {
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
    border-right: none;
}

#incorrect {
    border: 1px solid red;
    color: red;
    background-color: #eca8a8;
    border-radius: 5px;
}

#incorrect.with-correct {
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
    border-left: none;
}

#time-info {
    margin-top: 1em;
}

#time-info > div:first-child {
    margin-bottom: 1em;
}

#time-info span {
    font-weight: bold;
}