<h2 mat-dialog-title>
  <ngx-emoji *ngIf="letterGrade === 'A+'" emoji='heart_eyes' set='emojione' size="24"></ngx-emoji>
  <ngx-emoji *ngIf="letterGrade === 'A'" emoji='star-struck' set='emojione' size="24"></ngx-emoji>
  <ngx-emoji *ngIf="letterGrade === 'B'" emoji='smiley' set='emojione' size="24"></ngx-emoji>
  <ngx-emoji *ngIf="letterGrade === 'C'" emoji='neutral_face' set='emojione' size="24"></ngx-emoji>
  <ngx-emoji *ngIf="letterGrade === 'D'" emoji='cry' set='emojione' size="24"></ngx-emoji>
  <ngx-emoji *ngIf="letterGrade === 'F'" emoji='sob' set='emojione' size="24"></ngx-emoji>

  Your grade is {{ letterGrade }} ({{ percentageGrade }}%)

  <ngx-emoji *ngIf="letterGrade === 'A+' || letterGrade === 'A'" emoji='thumbsup' set='emojione' size="24"></ngx-emoji>
  <ngx-emoji *ngIf="letterGrade === 'B'" emoji='clap' set='emojione' size="24"></ngx-emoji>
  <ngx-emoji *ngIf="letterGrade === 'C'" emoji='ok_hand' set='emojione' size="24"></ngx-emoji>
  <ngx-emoji *ngIf="letterGrade === 'D' || letterGrade === 'F'" emoji='thumbsdown' set='emojione' size="24"></ngx-emoji>
</h2>

<mat-dialog-content>
  <div id="counts" [class.both]="correctCount > 0 && incorrectCount > 0">
    <div id="correct" *ngIf="correctCount > 0" [class.with-incorrect]="incorrectCount > 0">
      <div>Correct</div>
      {{ correctCount }}
    </div>

    <div id="incorrect" *ngIf="incorrectCount > 0" [class.with-correct]="correctCount > 0">
      <div>Incorrect</div>
      {{ incorrectCount }}
    </div>
  </div>

  <div id="time-info">
    <div>
      You answered
      {{ configService.questions.length }} questions
      in
      <span>{{ courseSeconds }} seconds</span>
    </div>

    <div *ngIf="correctQuestionsByTime.length > 1">
      <div *ngIf="slowestQuestion">
        Slowest:
        <span>{{ slowestQuestion.seconds }} seconds</span>
        ({{ slowestQuestion.description }})
      </div>

      <div *ngIf="fastestQuestion && slowestQuestion !== fastestQuestion">
        Fastest:
        <span>{{ fastestQuestion.seconds }} seconds</span>
        ({{ fastestQuestion.description }})
      </div>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close color="primary">Close</button>
  <button mat-raised-button [mat-dialog-close]="true" color="primary">View Details</button>
</mat-dialog-actions>
