<!--<div id="config-wrapper" *ngIf="x.length === 0 || y.length === 0">
  <div id="config">
    <mat-form-field>
      <mat-select [(ngModel)]="operation" placeholder="Operation">
        <mat-option value="+">Addition</mat-option>
        <mat-option value="-">Subtraction</mat-option>
        <mat-option value="x">Multiplication</mat-option>
        <mat-option value="/">Division</mat-option>
      </mat-select>
    </mat-form-field>

    <div>
      <div>Columns</div>
      <div>
        <mat-form-field>
          <input matInput type="number" [(ngModel)]="minX" [max]="maxX" [min]="0" placeholder="Min">
        </mat-form-field>
        -
        <mat-form-field>
          <input matInput type="number" [(ngModel)]="maxX" [min]="minX" placeholder="Max">
        </mat-form-field>
      </div>
    </div>
    
    <div>
      <div>Rows</div>
      <div>
        <mat-form-field>
          <input matInput type="number" [(ngModel)]="minY" [max]="maxY"  [min]="0" placeholder="Min">
        </mat-form-field>
        -
        <mat-form-field>
          <input matInput type="number" [(ngModel)]="maxY" [min]="minY" placeholder="Max">
        </mat-form-field>
      </div>
    </div>

    <div id="options">
      <mat-checkbox [(ngModel)]="answerFields">Answer Fields</mat-checkbox>
      <mat-checkbox *ngIf="answerFields && operation === '-'" [(ngModel)]="includeNegative">Negative Answers</mat-checkbox>
    </div>

    <button mat-raised-button color="primary" (click)="populateGrid()">Start</button>
  </div>
</div>-->

<div id="grid">
  <div id="x-axis">
    <div id="gap" class="block" [style.width]="blockWidth" [style.height]="blockHeight">
      {{ config.operation }}
    </div>

    <div class="block header" *ngFor="let col of configService.columns" [style.width]="blockWidth" [style.height]="blockHeight">
      {{ col }}
    </div>
  </div>

  <div id="y-axis">
    <div *ngFor="let row of configService.rows">
      <div class="block header"
        [style.width]="blockWidth"
        [style.height]="blockHeight">
        {{ row }}
      </div>
      
      <div class="block" *ngFor="let col of configService.columns"
        [style.width]="blockWidth"
        [style.height]="blockHeight"
        [class.correct]="answer.value && checkAnswer(row, col, answer.value)"
        [class.incorrect]="answer.value && !checkAnswer(row, col, answer.value)"
        [class.no-good]="noGood(row, col)">
          <input #answer matInput type="number"
            [class.hidden]="noGood(row, col)"
            [placeholder]="config.answerFields ?
              col + ' ' + config.operation + ' ' + row :
              null">
      </div><!--[class.hidden]="!config.answerFields || noGood(row, col)"-->
    </div>
  </div>
</div>