<div id="config" *ngIf="x.length === 0 || y.length === 0">
  <mat-form-field>
    <mat-select [(ngModel)]="operation" placeholder="Operation">
      <mat-option value="+">Addition</mat-option>
      <mat-option value="-">Subtraction</mat-option>
      <mat-option value="x">Multiplication</mat-option>
      <mat-option value="/">Division</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="number" [(ngModel)]="minX" [max]="maxX - 1" [min]="0" placeholder="Minimum X value">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="number" [(ngModel)]="maxX" [min]="minX + 1" placeholder="Maximum X value">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="number" [(ngModel)]="minY" [max]="maxY - 1"  [min]="0" placeholder="Minimum Y value">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="number" [(ngModel)]="maxY" [min]="minY + 1" placeholder="Maximum Y value">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="populateGrid()">Generate Grid</button>
</div>

<div id="grid" *ngIf="x.length > 0 && y.length > 0">
  <div id="x-axis">
    <div id="gap" class="block" [style.width]="blockWidth" [style.height]="blockHeight">
      {{ operation }}
    </div>

    <div class="block header" *ngFor="let col of x" [style.width]="blockWidth" [style.height]="blockHeight">
      {{ col }}
    </div>
  </div>

  <div id="y-axis">
    <div *ngFor="let row of y">
      <div class="block header" [style.width]="blockWidth" [style.height]="blockHeight">{{ row }}</div>
      <div class="block" [style.width]="blockWidth" [style.height]="blockHeight" *ngFor="let col of x"></div>
    </div>
  </div>
</div>